
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body {
    display:flex;
    background-color: #1C1C1C;
    font-family: 'Karla', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:600px;
    background-color: #1F2937;
    width: 550px;
    padding:50px;
    border-radius: 10px;
}

.password-wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-right: 40px;
}

.password-box{
    background-color: #273549;
    border-radius: 6px;
    width: 250px;
    height: 50px;
    margin-top: 20px;
}

#first_line{
    color:white;
    margin-bottom: 1px;
}

#second_line{
    color:#4ADF86;
    margin-top: 1px;
    margin-bottom: 1px;

}

#third_line{
    color:gray;
    margin-top: 1px;
    margin-bottom: 20px;
}

#line{
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

#gen-button{
    color:white ;
    background-color: #10B981;
    border-radius: 6px;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #10B981;
}
    
/* *{
    outline:1px solid red;
} */
 