
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --bg-darker: #1C1C1C;
    --bg-dark: #1F2937;
    --bg-lighter: #273549;
    --primary-green: #10B981;
    --accent-green: #4ADF86;
    --text-white: white;
    --text-gray: gray;
}

body {
    display:flex;
    background-color: var(--bg-darker);
    font-family: 'Karla', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:600px;
    background-color: var(--bg-dark);
    width: 550px;
    padding:50px;
    border-radius: 10px;
}

.password-wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-right: 40px;
    gap: 20px;
}

#password-length{
    background-color: var(--bg-lighter);
    border-width: 0cap;
    border-radius: 6px;
    width: 120px;
    height: 25px;
    margin-top: 20px;
    color:white;
}

#password-box1{
    background-color: var(--bg-lighter);
    color: var(--accent-green);
    border-width: 0cap;
    border-radius: 6px;
    width: 250px;
    height: 30px;
    margin-top: 20px;
}

#password-box2{
    background-color: var(--bg-lighter);
    color: var(--accent-green);
    border-width: 0cap;
    border-radius: 6px;
    width: 250px;
    height: 30px;
    margin-top: 20px;
}

#first_line{
    color:white;
    margin-bottom: 1px;
}

#second_line{
    color:var(--accent-green);
    margin-top: 1px;
    margin-bottom: 1px;

}

#third_line{
    color:gray;
    margin-top: 1px;
    margin-bottom: 20px;
}

#line{
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

#gen-button{
    color:white ;
    background-color: var(--primary-green);
    border-radius: 6px;
    margin-right: 20px;
    width: 210px;
    height: 50px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: var(--primary-green);
    border-width: 0cap;
}

#error-message{
    color:red;
    font-size: 12px;
    height: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.toggle-container{
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
    color:var(--primary-green);
    margin-top: 20px;
    margin-bottom: 20px;
}


    
/* *{
    outline:1px solid red;
} */
